<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaozhitech.baobei.child.mapper.second.OperationRefundMapper">
  <resultMap id="BaseResultMap" type="com.yaozhitech.baobei.child.domain.OperationRefund">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="child_module" jdbcType="VARCHAR" property="childModule" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="manner" jdbcType="SMALLINT" property="manner" />
    <result column="total_fee" jdbcType="NUMERIC" property="totalFee" />
    <result column="refund_amount" jdbcType="NUMERIC" property="refundAmount" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="out_refund_no" jdbcType="VARCHAR" property="outRefundNo" />
    <result column="refund_reason" jdbcType="VARCHAR" property="refundReason" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!-- list -->
  <select id="list" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM zhima.operation_refund
    LIMIT #{arg1} OFFSET #{arg0}
  </select>

</mapper>